body {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

button {
    margin: 4px;
}

h1 {
    display: flex;
    justify-content: center;
}

#jugs {
    display: flex;
    justify-content: space-evenly;
}

.jug-container {
    display: flex;
    width: 180px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.jug-inner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.jug {
    border: 1px solid black;
    border-radius: 20%;
}

#gallon-3 {
    height: 125;
    width: 125;
}

#gallon-5 {
    height: 156px;
    width: 156px;
}


#game-buttons {
    display: flex;
    justify-content: space-evenly;
}

#pour-buttons {
    align-self: center;
}

button.hint {
    background-color: aqua;
    transition: all 1s ease;
}

#time-container {
    display: flex;
    justify-content: end;
    color: gray;
    font-family: monospace;
}

