body {
    display: flex;
    justify-content: center;
    align-content: center;
}

button {
    margin: 4px;
    font-size: 20px;
    padding: 4px 8px;
}

@media (min-width: 601px) {
    button {
        margin: 4px;
        font-size: 16px;
        padding: 4px 8px;
    }

    #game {
        width: 60%;
    }

}

@media (max-width: 600px) {
    button {
        margin: 4px;
        font-size: 20px;
        padding: 4px 8px;
    }

    #jugs {
        display: flex;
        flex-direction: column;
    }

    .jug-container {
        margin-bottom: 24px;
    }

    #game {
        width: 90%;
    }

    #pour-buttons {
        display: flex;
        flex-direction: row;
    }

    .pour-button {
        transform: rotate(90deg);
    }


    h1 {
        font-size: 1.3rem;
        text-align: center;
    }

}

h1 {
    display: flex;
    justify-content: center;
}

#jugs {
    display: flex;
    justify-content: space-evenly;
}

.jug-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.jug-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.jug {
    border: 1px solid black;
    border-radius: 20%;
}

#gallon-3 {
    height: 125px;
    width: 125px;
}

#gallon-5 {
    height: 156px;
    width: 156px;
}


#game-buttons {
    display: flex;
    justify-content: space-evenly;
}

#pour-buttons {
    align-self: center;
}

.pour-button {
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 1;
}

button.hint {
    background-color: aqua;
    transition: all 1s ease;
}

#timer {
    display: flex;
    justify-content: space-evenly;
    color: gray;
    font-family: monospace;
    font-size: 20px;
}

#timer.urgent {
    color: red;
}

