body {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

button {
    margin: 4px;
}

#jugs {
    display: flex;
}

.jug {
    margin: 0 100px;
}

#game-buttons {
    display: flex;
    justify-content: space-around;
}

#pour-buttons {
    align-self: center;
}

button.hint {
    background-color: aqua;
    transition: all 1s ease;
}

.elapsed-time {
    color: gray;
    font-family: monospace;
    float: right;
}
